<%- include('../includes/start.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <section id="signupFormSection">
        <div id="signupFormContainer">
            <h1 class="text-center mb-1">CHANGE PASSWORD</h1>
            <form action="/<%= rollNo %>/change-password" method="POST">
                <div class="row justify-content-center">
                    <div class="col-9 col-md-12 form-group">
                        <label for="oldPassword">Old Password</label>
                        <input name="oldPassword" class="form-control" type="password" required>
                    </div>
                    <div class="col-9 col-md-12 form-group">
                        <label for="password">New Password</label>
                        <input id="password" name="newPassword" class="form-control" type="password" onkeyup="comparePasswords();" required>
                    </div>
                    <div class="col-9 col-md-12 form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input id="confirmPassword" name="confirmPassword" class="form-control" type="password"  onkeyup="comparePasswords();" required>
                    </div>
                    <div class="col-12 form-group">
                        <p id="passwordComparisonMessage" class="text-center"></p>
                        <p class="red-color text-center"><%= incorrectOldPasswordError %></p>
                    </div>
                    <div class="col-9 col-md-12 form-group mt-3 ">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button id="submitBtn" type="submit" class="btn btn-block btn-primary" disabled>CHANGE PASSWORD</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <%- include('../includes/end.ejs') %>