<%- include('../includes/start.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <section id="loginFormSection">
        <div id="loginFormContainer">
            <h1 class="text-center mb-5">ENTER ROLL NUMBER</h1>
            <form action="/get-rollNo" method="POST">
                <div class="row justify-content-center">
                    <div class="col-9 col-md-12 form-group">
                        <label for="rollNo">Roll Number</label>
                        <input name="rollNo" class="form-control" type="text" required>
                    </div>
                    <div class="col-9 col-md-12 form-group">
                        <p class="red-color text-center"><%= getRollNoError %></p>
                    </div>
                    <div class="col-9 col-md-12 form-group mt-5 ">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn btn-block btn-primary">SEND OTP</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <%- include('../includes/end.ejs') %>