<nav class="navbar navbar-expand-md sticky-top navbar-dark"
    style="background-color: #112D37">
    <div class="container">
        <a class="navbar-brand" style="color: white" href="/"><img
                src="/images/nitkLogo.png" class="img-responsive"
                height="40px"></a>


        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
            aria-controls="collapsibleNavbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" style="float: right">
            <ul class="navbar-nav ml-auto">
                <% if (isLoggedIn) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="padding: 8px 20px; font-weight: 600; cursor: pointer;" id="navbarUsernameDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true"title="<%= username %>" aria-expanded="false">
                            <%= username.split(' ')[0] %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarUsernameDropdown">
                            <a class="dropdown-item" href="/<%= rollNo %>/my-account">My Account</a>
                            <a class="dropdown-item" href="/<%= rollNo %>/products-for-sale">Products For Sale</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Coming Soon...</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="padding: 8px 20px; font-weight: 600"
                            href="/<%= rollNo %>/sell">Sell Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="padding: 8px 20px; font-weight: 600" href="/<%= rollNo %>/notifications">Notifications 
                            <% if (numberOfNewNotifications !== 0) { %>
                                <span class="badge badge-success"><%= numberOfNewNotifications %></span>
                            <% } %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form action="/<%= rollNo %>/logout" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="nav-link btn" style="padding: 8px 20px; font-weight: 600; border: none; outline: none; box-shadow: none;">Logout</button>
                        </form>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" style="padding: 8px 20px; font-weight: 600" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="padding: 8px 20px; font-weight: 600" href="/login">Login</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>