<%- include('../includes/start.ejs') %>

</head>

<body>

    <%- include('../includes/navbar.ejs') %>

    <section id="userProfileSection">
        <div class="container">
            <h1><b><%= anotheruser.name %></b></h1>
            <hr>
            <h1 class="mb-4">Details</h1>
            <h3><b>Roll Number :</b> <%= anotheruser.rollNo %></h3>
            <h3><b>Semester :</b> <%= anotheruser.semester %></h3>
            <h3><b>Email :</b> <%= anotheruser.email %></h3>
            <h3><b>Mobile Number :</b> <%= anotheruser.mobile %></h3>
        </div>
    </section>        

    <%- include('../includes/end.ejs') %>