<%- include('../includes/start.ejs') %>
</head>

<body>

    <%- include('../includes/navbar.ejs') %>

    <section id="userProfileSection">
        <div class="container">
            <h1><b><%= user.name %></b></h1>
            <hr>
            <h1 class="mb-4">Details</h1>
            <h3><b>Roll Number :</b> <%= user.rollNo %></h3>
            <h3><b>Semester :</b> <%= user.semester %></h3>
            <h3><b>Email :</b> <%= user.email %></h3>
            <h3><b>Mobile Number :</b> <%= user.mobile %></h3>
            <br>
            <a href="/<%= user.rollNo %>/change-password"><button class="btn theme-hover-btn-inverse">Change Password</button></a>
            <form style="display: inline-block" action="/<%= user.rollNo %>/send-otp" method="POST">
                <button class="btn theme-hover-btn-inverse">Forgot Password</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
        </div>
    </section> 

    <%- include('../includes/end.ejs') %>