<%- include('../includes/start.ejs') %>

</head>

<body>

    <%- include('../includes/navbar.ejs') %>

    <% if (products.length === 0) { %>

    <section id="productsSection">
        <div class="container text-center">
            <h1>You Have Not Set Any Product On Sale!</h1><br>
            <a href="/<%= rollNo %>/sell">
                <button class="btn theme-hover-btn-inverse">Sell A Product</button>
            </a>
        </div>
    </section>
    
    <% } else { %>

    <%- include('../includes/productSearchbar.ejs') %>
    <section id="productsSection">
        <div class="container text-center">
            <div class="row justify-content-center">
                <% for (let product of products) { %>
                <div class="col-9 col-sm-6 col-md-4 col-lg-3 productCol">
                    <a href="/<%= rollNo %>/product/<%= product._id %>">
                        <div class="productContainer">
                            <img class="productImage" src="<%= product.imageURL %>">
                            <h1 class="productPrice">Rs. <%= product.price %></h1>
                            <h1 class="productName"><%= product.shortdesc %></h1>
                            <button class="btn theme-hover-btn-inverse" onclick="location.href='/<%= rollNo %>/product/<%= product._id %>/edit'; return false;">EDIT</button>
                            <input name="product_id" value="<%= product._id %>" hidden>
                            <input name="imagePublicId" value="<%= product.imagePublicId %>" hidden>
                            <input name="rollNo" value="<%= rollNo %>" hidden>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">                            
                            <button class="btn theme-hover-btn-inverse" onclick="deleteProduct(this); return false;">DELETE</button>
                        </div>
                    </a>
                </div>
                <% } %>
            </div>
        </div>
    </section>
    <%- include('../includes/sortFilter.ejs') %>

    <% } %>


    <%- include('../includes/end.ejs') %>